#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;

}

.block-btn {
  display: flex;
  flex-direction: column;


}

.burger-app {
  display: flex;
  align-items: center;
}

.btn-list-ing {


}